{% extends 'base.html' %}
{% block web-title %} Jieba {% endblock %}
{% block title %} 斷詞示範 {% endblock %}
{% block content %}
<script>
    $(document).ready( function () {
        $('#cut').click(function () {
            const rawdata = $('#rawdata').val();
            $.ajax({
                method: "POST",
                url: "/cut/",
                dataType: "json",
                data: JSON.stringify({payload:rawdata}),
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                },
                success: (data) => {
                    $('#finaldata').text(data['data']);
                },
                error: (error) => {
                    $('#finaldata').text("斷字失敗！")
                },
              });
        });
    });
</script>
<table>
    <tr>
        <td>
            <textarea id="rawdata" name="rawdata" rows=5 cols=60>
這是一段示範用的文字，你也可以自己貼上需要斷詞的內容，取代這段文字。</textarea>
        </td>
    </tr>
    <tr>
        <td><a class="btn btn-sm btn-primary" id="cut">開始斷詞</a></td>
    </tr>
    <tr>
        <td><textarea id="finaldata" rows=5 cols=60></textarea></td>
    </tr>
</table>
{% endblock %}