<div align='center'>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
              天外訪客
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  文字分析
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/cut/">斷詞</a></li>
                  <li><a class="dropdown-item" href="/wordcloud/">文字雲</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Matplotlib
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/mat/heartcurve/">笛卡爾心形線</a></li>
                  <li><a class="dropdown-item" href="/mat/heartcurve-polar/">笛卡爾心形線(Polar)</a></li>
                  <li><a class="dropdown-item" href="/mat/bar/">長條圖</a></li>
                  <li><a class="dropdown-item" href="/mat/line/">折線圖</a></li>
                  <li><a class="dropdown-item" href="/mat/scatter/">散佈圖</a></li>
                  <li><a class="dropdown-item" href="/mat/3d/">3D立體圖</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ChartJS
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/chartjs/bar/">直條圖</a></li>
                  <li><a class="dropdown-item" href="/chartjs/line/">折線圖</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Plotly
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/plotly/curve/">函數圖形</a></li>
                  <li><a class="dropdown-item" href="/plotly/bar/">直條圖</a></li>
                  <li><a class="dropdown-item" href="/plotly/line/">折線圖</a></li>
                  <li><a class="dropdown-item" href="/plotly/3d/">立體圖</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>
